@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Red+Hat+Display&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: hsl(233, 47%, 7%);
  font-family: 'Inter';
  color: #fff;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 5em 10em;
}

.card {
  display: flex;
}

.insight {
  width: 50%;
  background: hsl(244, 38%, 16%);
  padding: 1em 2em;
  border-radius: 10px 0px 0px 10px; 
}

.insight-body {
  padding: 2em 2em;
}

.insight-header {
  font-weight: 700;
  margin-bottom: 1em;
}

.insight-text {
  margin-bottom: 3em;
  line-height: 1.8em;
  font-size: 15px;
}

.stats {
  display: flex;
  justify-content: space-between;
}


.insight-img {
  background-color: hsl(277, 47%, 40%);
  width: 50%;
  border-radius: 0 10px 10px 0; 
}

.insight-img img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  border-radius: 0 10px 10px 0; 
  
} 

.transform {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 0.5em;
}

@media(max-width: 1200px) {

  .card-container {
    padding: 2.5em 4em;
  }
}

@media(max-width: 900px) {

  .card-container {
    height: 90%;
  }
  
  .card {
    flex-direction: column-reverse;
    align-items: center;
  }

  .insight {
    padding: 1em 1em;
    border-radius: 0px 0px 10px 10px;
    width: 50%; 
  }

  .insight-body {
    text-align: center;
    padding: 2em 0.1em;
  }

  .insight-text {
    padding: 0 2.5em;
  }

  .insight-img {
    border-radius: 10px 10px 0px 0px; 
    width: 50%;
  }
  
  .insight-img img {
    border-radius: 10px 10px 0px 0px;
  } 

  .stats {
    flex-direction: column;
  }

  .stats-name {
    margin-bottom: 1.5em;
  }
}

@media(max-width: 750px) {

  .insight {
    width: 70%
  }

  .insight-header {
    padding: 0 1em;
  }

  .insight-text {
    padding: 0 4em;
  }

  .insight-img {
    width: 70%;
  }
}

@media(max-width: 650px) {

  .insight {
    width: 80%
  }

  .insight-header {
    padding: 0 0.5em;
  }

  .insight-text {
    padding: 0 3em;
  }

  .insight-img {
    width: 80%;
  }
}

@media(max-width: 550px) {

  .insight {
    width: 100%
  }

  .insight-header {
    padding: 0 0.2em;
  }

  .insight-text {
    padding: 0 2.5em;
  }

  .insight-img {
    width: 100%;
  }
}
